.root {
  background:url("https://phonoteka.org/uploads/posts/2022-01/1642641322_40-phonoteka-org-p-minimalistichnii-fon-40.jpg") no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
*{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
}

.chatsWrapper{
  
}
.container {
  background: #FFD6B2;
  border: 2px solid #A66D3A;
  border-radius: 30px;
  overflow: hidden;
  width: 65%;
  height: 80%;
  display: flex;
}
.userChat {
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    p {
      font-size: 10px;
    }
  }
  :hover {
    color: white;
  }
  cursor: pointer;
  background: #FFE9D5;

  display: flex;
  align-items: center;
  border-top: 2px solid #A66D3A;
  border-bottom: 2px solid #A66D3A  ;
  gap: 10px;

  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}
.searchForm {
  margin-bottom: 20px;
  margin-top: 10px;
  img {
    width: 20px;
    margin-right: 5px;
  }
  :active,
  :hover,
  :focus {
    outline: 0;
    outline-offset: 0;
  }
  display: flex;
  justify-content: center;

  background: #FFD6B2;
  input {
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    background: #FFD6B2;
    ::placeholder {
      color: white;
    }
  }
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
  &__name {
  }
  &__icon {
    width: 35px;
    height: 35px;

    background: #FFD6B2;
    border-radius: 50%;
    border: none;
    object-fit: cover;
  }
  &__logout {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FFD6B2;
    border: none;
    border-radius: 10%;
    padding: 5px;
  }
}
:global(.chat) {
}
:global(.navbar) {
  display: flex;
  align-items: center;
  border-bottom: 2px #A66D3A solid;
  background: #FFD6B2;
  height: 50px;
  justify-content: space-between;
  padding-left: 20px;
  color: black;
}
:global(.sidebar) {
  border-right: 2px solid #A66D3A;
  background-color: #FFD6B2;

  width: 250px;
}
.chat {

  background: #FFD6B2;
  width: 100%;
}
.chatInfo {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  p{

  }
  img {
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  color: black;
  height: 50px;

  background: #FFD6B2;
  border-bottom: 2px #A66D3A solid;
}
.messages {
  padding: 10px;
  height: calc(100% - 120px);
  overflow-y: scroll;
}
::-webkit-scrollbar-thumb {
  background: antiquewhite;
  border-radius: 20px;
  border: 4px solid #e4b593;
}
::-webkit-scrollbar {
  background-color: #e4b593;
  width: 20px;
}
.messageInput {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#FFD6B2;
  height: 70px;
  img {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
  input {
    width: 80%;
    background: #FFE9D5;
    border: 1px solid #A66D3A;
    border-radius: 10px;
    height: 40px;
    padding: 10px;
  }
}
.iconsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #FFD6B2;
}

.buttonSend {
  border: none;
  background-color: #FFD6B2;
  width: 70px;
  height: 40px;
  cursor: pointer;
}
.startPage{
  padding: 50px;
  text-align: center;
  height: calc(100% - 120px);
  img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
  }
}
.message {
  flex-direction: row-reverse;
  display: flex;
  padding: 2px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: white;
  width: 60%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40%;
  gap: 20px;
  img {
    border-radius: 20px;
    width: 30px;
    height: 30px;
  }
}
.messageOwner {

  display: flex;
  padding: 2px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #bc987e;
  color: white;
  width: 60%;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  img {
    border-radius: 20px;
    width: 30px;
    height: 30px;
  }
}
